img.overlayed-result {
  position: absolute;
  margin: 10%;
  z-index: 1;
  width: 80%;
}

.outer-mini-board {
  position: relative;
}
.mini-board.concluded {
  z-index: 0;
  position: absolute;
  filter: blur(0.1vh);
}
div {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 1px;
  aspect-ratio: 1;
}
.mini-board {
  display: grid;
  margin: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}
.meta-board {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50vh;
  transform: translateY(25vh);
}
.board-space:hover {
  cursor: pointer;
}
.board-space.inactive {
  background-color: #d1d1d1;
  pointer-events: none;
}
.board-space.taken {
  pointer-events: none;
}
.board-space.inactive:hover {
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
